:root {
    --primary-color: rgb(114, 114, 195);
    --secondary-color: rgb(133, 132, 136);
    --tertiary-color: yellow;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: var(--secondary-color);
}

.header {
    background-color: var(--primary-color);
}

.header-heading {
    margin: 0px;
}

.uv-background {
    padding: 0px 5px;
    border-radius: 5px;
}

.uv-background-extreme {
    background-color: #d83484;
}

.uv-background-very-high {
    background-color: #ee1d23;
}

.uv-background-high {
    background-color: #f89c1c;
}

.uv-background-moderate {
    background-color: #ffdc01;
}

.uv-background-low {
    background-color: #83c88b;
}