:root {
    --primary-color: rgb(114, 114, 195);
    --secondary-color: red;
    --tertiary-color: yellow;
}

.header {
    background-color: var(--primary-color);
}

.header-heading {
    margin: 0px;
}

.uv-background {
    padding: 5px;
    border-radius: 10px;
}

.uv-background-extreme {
    background-color: #d83484;
}

.uv-background-very-high {
    background-color: #ee1d23;
}

.uv-background-high {
    background-color: #f89c1c;
}

.uv-background-moderate {
    background-color: #ffdc01;
}

.uv-background-low {
    background-color: #83c88b;
}